<!DOCTYPE html>
<html>
  <head>
    <title>Cards</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        display: flex;
      justify-content: center;
      /* align-items: center; */
      /* height: 100vh; */
      gap: 2rem;

      }
      .zain-light {
        font-family: "Zain", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
      }
      .grid-container {
        display: grid;
        /* grid-template-rows: 100px auto; */
        grid-template-columns: 50px minmax(200px, 400px) minmax(200px, 300px) minmax(
            200px,
            300px
          );
      }
      .grid-item {
        /* font-size: 2rem; */
        background-color: #254d70;
        border: 1px solid #131d4f;
        color: #efe4d2;
      }
    </style>
  </head>
  <body>
    
    
    <% if(locals.content) { %>
    <ul>
      <form action="/" id="form" class="form" method="POST">
        <select name="stateprovince" class="form-select">
          <option value="" data-display="Select">Choose State</option>
          <option value="new york">New York</option>
          <option value="maryland">Maryland</option>
        </select>
        <select name="kingdom" class="form-select">
          <option value="">Choose kingdom</option>
          <option value="plantae">Plantae</option>
          <option value="animalia">Animalia</option>
        </select>
        <button type="submit" class="form-submit">Go</button>
      </form>
      <% content.forEach((item, i) => { %>
      <li class="grid-container zain-light">
        <span class="grid-item"><%=i%></span>
        <span class="grid-item"
          ><%=content[i].indexTerms.scientificname %>
        </span>
        <span class="grid-item"> <%=content[i].indexTerms.kingdom %> </span>
        <span class="grid-item"><%=content[i].indexTerms.stateprovince %></span>
      </li>
      <% }); %> <%}%>
      
    </ul>





      
  </body>
</html>
