<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>I'm Bored</title>
</head>

<body>
  <div class="container">

    <h1>Here are some interesting sciency things:</h1>

    <form action="/" id="form" class="form" method="POST">
      <select name="stateprovince" class="form-select">
        <option value="" data-display="Select">Choose State</option>
        <option value="new york">New York</option>
        <option value="maryland">Maryland</option>
      </select>
      <select name="kingdom" class="form-select">
        <option value="">Any number of people</option>
        <option value="plantae">plantae</option>
        <option value="animalia">animalia</option>
      </select>
      <button type="submit" class="form-submit">Go</button>
    </form>
    <!-- Pasting this below for reference -->
    <!-- { bActivity: userResult[rndActivity].activity, bType: userResult[rndActivity].type, bParticipants: userResult[rndActivity].participants }); -->
    <section id="cards" class="cards">
      <article class="card-item">
        <% if (locals.bActivity) { %>
        <h2 class="card-activity">
          <!-- Show Activity -->
            <%= bActivity %>
          </h2>
          <div class="card-info">
            <span class="card-type">
              <!-- Show Activity type -->
               <%= bType %>
            </span>
            <span class="card-participants">
              <!-- participants: Show participant number -->
               <%= bParticipants %>
              <span class="card-number"></span>
            </span>
          </div>
          <% } else { %>
            <h2 class="card-activity">
          <!-- Show Activity -->
            No activities that match your criteria.
            
          </h2>
          <% } %>
        </article>
        

      <div id="tag-error" class="tag-error">
        <!-- Show any errors that were sent from the backend -->
         <% if (locals.error) { %>
           Error: <%= error %>
           <% } %>
      </div>

    </section>
  </div>

</body>

</html>