<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thumper</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body id="app">
    <div class="scripture-block">
    <% if (locals.myPassage) { %>  
      <h4>From the book of <%= myPassage[0].book %>:</h4>
    <% } %>
    <% if (locals.myPassage) { %>
        <% myPassage.forEach((verse, i) => { %>
            <sup class="supersmall"><%= myPassage[i].refverse %></sup><%= myPassage[i].verse %>&nbsp;
        <% })} %>
        </div>
    <form class="container" action="/submit" method="post">
      <div class="answer-container">
        <input
          type="text"
          name="answer"
          id="userInput"
          placeholder="Bible reference"
          autofocus
          autocomplete="off"
        />
      </div>
      <button type="submit">Thumper Search</button>
    </form>
  </body>
</html>
