<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thumper</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <style>
      #copyButton {
        margin: 1em 0;
        padding: 0.5em 1em;
        cursor: pointer;
      }
    </style>
  </head>
  <body id="app">
    <div class="scripture-block" id="verseText">
      <% if (locals.myPassage) { %>
      <h4>
        From the book of <%= myPassage[0].book %> chapter <%=
        myPassage[0].refchapter %>:
      </h4>
      <% } %> <% if (locals.myPassage) { %>
      <!-- <div id="verseText"> -->
        <% myPassage.forEach((verse, i) => { %>
        <sup class="supersmall"><%= verse.refverse %></sup><%= verse.verse
        %>&nbsp; <% }) %>
      <!-- </div> -->
      <% } %>
    </div>
    <button id="copyButton" class="narrow-button">Copy Passage</button>
    <form class="container" action="/submit" method="post">
      <div class="answer-container">
        <input
          type="text"
          name="answer"
          id="userInput"
          placeholder="Bible reference"
          autofocus
          autocomplete="off"
        />
      </div>
      <button type="submit">Thumper Search</button>
    </form>

    <script>
      document
        .getElementById("copyButton")
        ?.addEventListener("click", async function () {
          const verseElement = document.getElementById("verseText");
          const html = verseElement.innerHTML;

          try {
            await navigator.clipboard.write([
              new ClipboardItem({
                "text/html": new Blob([html], { type: "text/html" }),
                "text/plain": new Blob([verseElement.innerText], {
                  type: "text/plain",
                }),
              }),
            ]);
            // alert("Formatted passage copied to clipboard!");
          } catch (err) {
            alert("Failed to copy: " + err);
          }
        });
    </script>
  </body>
</html>
